@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

body {
    margin: 0;
    font-family: 'Mystery Quest', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .2rem;
}

/* navbar */
#basic-navbar-nav .fas{
    padding-right: 6px;
}

#basic-navbar-nav .nav-link{
    padding-right: 24px;
}

.navbar{
    background-color: #ff881b;
    margin-bottom: 12px;
}

.navbar-nav .show .dropdown-menu a:hover{
    background-color: #1a1a1a;
    color: #fff;
}

.navbar a{
    font-size: 1.4rem;
    color: #000;
}

.navbar a:hover{
    color: #fff;
}

/* searchbar */
.search-bar input{
    border-radius: 5px 0 0 5px;
}

.search-bar button{
    border-radius: 0 5px 5px 0;
}

h1,h2{
    color: #ff881b;
}

h1{
    margin: 24px 0;
}

main{
    min-height: 80vh;
}

/* product cards */
.card{
    background-color: #8249bc;
}

.card .card-body{
    color: #fff;
}

.home--product{
    background-color: #8249bc;
    cursor: pointer;
    transition: all ease 200ms;
    min-width: 100%;
}

.home--product:hover {
    transform: scale(1.03);
    box-shadow: 1px 7px 36px -4px rgba(32,184,14,0.4);
    -webkit-box-shadow: 1px 7px 36px -4px rgba(32,184,14,0.4);
    -moz-box-shadow: 1px 7px 36px -4px rgba(32,184,14,0.4);
}


/* carousel */
.carousel-item-next,
.carousel-item-prev{
    display: flex;
}

.carousel-caption {
    position: absolute;
    left: auto;
    right: auto;
    width: 50%;
    height: 100%;
    bottom:0;
    right:0;
}

.carousel-caption h2 {
    font-size: 2.5rem;
    color: #fff
}

.carousel-item img{
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    width: 100%;
    height: 50vh;
}

.carousel-item:before {
    content: "";
    background-image:
      linear-gradient(
        to bottom,
        transparent, rgba(0,0,0,1)
      );
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vh;
  }

  .carousel-item a{
    width: 100%;
  }


.rating{
    padding: 12px 0;
}

.rating i {
    color: rgb(220, 220, 0);
}


.cart--items{
    padding: 1rem;
}

.cart--items .row [class^='col']{
    margin: auto;
}

/* product screen */
.list-group-item{
    background-color: #a8a8a8;
    font-weight: 600;
}

.product-container img{
    margin-bottom: 32px;
}

/* profile screen */
.profile-update-form h2, .profile-order-table h2{
    margin: 24px 0;
}

form div{
    margin-bottom: 24px;
    color: #fff;
}

form div input{
    font-weight: 600;
}

table, table tbody tr td{
    background-color: #a8a8a8;
    color: #000;
}

table tbody tr td a{
    margin-right: 12px;
}

.table-striped>tbody>tr:nth-of-type(odd)>*{
    color: #000;
}

/* payment process */
.payment-process .nav-item a{
    color: #fff;
}

/* payment process */
.payment-process .nav-item .active{
    color: #919191;
}