body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
    min-height: 80vh;
}

#basic-navbar-nav .fas{
    padding-right: 6px;
}

#basic-navbar-nav .nav-link{
    padding-right: 32px;
}

/* products card */
.rating{
    padding: 12px 0;
}

.rating i {
    color: rgb(220, 220, 0);
}